* {
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: rgb(201, 177, 177);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

li:not(.liRight) {
    float: left;
    /* padding: 10px; */
}

.liRight {
    float: right;
}

li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: rgb(174, 164, 164);
}

.slider_img {
    height: 300px;
}

.footer {
    padding: 50px;
    text-align: center;
}

.btns {
    text-align: center;
    border: none;
}

.cards {
    height: 200px;
}

.viewMore {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: gray;
    color: white;
    float: right;
    border: none;
    border-radius: 5px;
}